* {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a[href^=tel] {
  text-decoration: none;
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a {
  font-family: $font-family-sans-serif;
}
p, li {
  @include fluid-type($bodycopy_1024,$bodycopy);
  font-family: $font-family-sans-serif;
  font-weight: 100;
  // letter-spacing: $ls;
  line-height: 1.6;

  span, a {
    font-size: inherit;
    font-weight: inherit;
  }
  strong {
    font-weight: 400;
  }
}
strong {
  font-weight: 400;
}
/**** GENERAL STYLES ****/
.btn.hide-for-small {
  display: none !important;
  @media #{$break640} {
    display: inline-block ƒ!important;
  }
}
.bs-show-for-small {
  display: none !important;
  left: -9999px;
  opacity: 0;
  position: absolute;
  visibility: hidden;

  @media #{$break972} {
    display: block !important;
    left: auto;
    opacity: 1;
    position: relative;
    visibility: visible;
  }
}
.bs-hide-for-small {
  display: block !important;

  @media #{$break972} {
    display: none !important;
    left: -9999px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}
html #main-container .entry-content .bg-pos-center-center {
  background-position: center center !important;
}
.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2) !important;
  margin-right: calc(-100vw / 2 + 100% / 2) !important;
  max-width: 100vw !important;
}
.aligncenter {
  align-items: center;
  display: flex;
  justify-content: center;
}
.bs-separator * {
  border-color: $gray !important;
  padding: 4.5% 0;

  @media #{$break767} {
    padding: 3rem 0;
  }
}
.bs-row-spacing,
.bs-row-spacing-bottom {
  margin-bottom: $vspace !important;

  @media #{$break1200} {
    margin-bottom: $vspace1200 !important;
  }
}
.bs-row-spacing-top {
  margin-top: $vspace !important;

  @media #{$break1200} {
    margin-top: $vspace1200 !important;
  }
}
.bs-row-padding {
  padding-top: $vspace !important;
  padding-bottom: $vspace !important;

  @media #{$break1200} {
    padding-top: $vspace1200 !important;
    padding-bottom: $vspace1200 !important;
  }
}
.bs-row-padding-top {
  padding-top: $vspace !important;

  @media #{$break1200} {
    padding-top: $vspace1200 !important;
  }
}
.bs-row-padding-bottom {
  padding-bottom: $vspace !important;

  @media #{$break1200} {
    padding-bottom: $vspace1200 !important;
  }
}
.bs-internal-row-spacing,
.bs-internal-row-spacing-bottom {
  margin-bottom: $vspace1200 !important;
}